@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600&family=Josefin+Slab:ital,wght@0,300;0,400;0,600;0,700;1,300;1,600&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400&family=Roboto:wght@500&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css');

body{
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;

    
}

.container-app {
    width: 100%;
    height: 100%;
    scroll-snap-type: y mandatory ;
    overflow-y: scroll;
    overflow-x: hidden;

}

.navbar-app{
    position:fixed;
    width:100vw;
    height:10%;
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color:#fff;
    z-index:9;
    margin-right: 10%;

}

.navbar-app .logo img {
    width:40%;
    height:40%;

    margin-left:50%;
}

.navbar-app h1{
    line-height: .1rem;
    font-family: 'Baloo Da 2', serif;
    color:#797979;
    font-size: 1.4rem;
    cursor: pointer;
}

.navbar-app p {
    font-family: 'Josefin Slab', serif;
    
    font-size: 0.6rem;
    line-height: .4rem;
}

.navbar-app .menu-app {
    width: 50%;
    height: 80%;
    margin-left: 30%;
}
.navbar-app ul {
    width:40%;
    height:30%;
    list-style: none;
    display: flex;

}
.navbar-app ul a {
    text-decoration: none;
}
ul li {
    margin-left: .5rem;
    color: rgb(217,115,29);
    text-transform: uppercase;
    font-family: 'Baloo Da 2', serif;
    font-weight: 200;
    font-size: 1rem;
    display: flex;
    align-items: center;
}

ul li:hover {
    border-bottom: 2px solid #797979;
}




section {
    display:flex;
 
    height: 100vh;
    width: 100vw;
    scroll-snap-align: start;
    
}

section h1 {
    font-family: Arial,Arial, Helvetica, sans-serif;
    font-size: 15em;
}

section:nth-of-type(1) {

    position: relative;



}

.img-wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 2);
    
}

.img-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover; /* indica como a imagem vai ser posto dentro da div*/
    opacity: 0.5;
    animation: dar-zoom 25s ;
    background-attachment: fixed;
    z-index: 8;
    
}

.banner {
    position: absolute;
    top:50%;
    left:10%;
    line-height: .3rem;
    z-index: 10;

}

.banner h1{
    color: #fff;
    font-size: 3.5rem;
    font-family: 'Baloo Da 2', serif;
    font-weight: 200;
    text-shadow: .3rem .4rem 2px rgba(0,0,0,.4);
    margin-bottom:2rem;
    animation: moverBanner 1s 0.5s forwards;
    opacity:1;
    line-height:2rem;
}

.banner h2 {
    font-family: 'Josefin Slab', serif;
    color: #fff;
    font-size:2rem;
    text-shadow: .3rem .4rem 2px rgba(0,0,0,.4);
    margin-bottom: 2rem;
}

.banner h2::after {
    content: "|";
    margin-left: 5px;
    animation: piscar .7s infinite;
}

@keyframes piscar {
    0%,100%{
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

span {
    color: rgba(219,171,45, 1);
}

section:nth-of-type(2) {
    background-color:rgb(255,255,255);
    display: flex;
    width:100%;
    height:100%;
    flex-direction: column;

}

.sessao-header{
    margin-top: 5%;
}

.sessao-header h1 {
    display: flex;
    align-items: center;
    margin-left: 10%;
    color:rgb(217,115,29);
    font-family: 'Baloo Da 2', serif;
    font-size: 1rem;
    text-transform: uppercase;
    margin-bottom: .1rem;
    margin-top: .4rem;
    
}

.sessao-header h1::before {
    content:"";
    background-color: rgb(217,115,29);
    height: .7rem;
    width:.2rem;
    margin-right: .3rem;
    
}

.sessao-header p {
    margin-left: 9.8%;
    font-family: 'Baloo Da 2', serif;
    font-weight: 700;
    color: rgb(51,51,51);
    font-size: 2.3rem;
    line-height: .7em;
    margin-bottom: 1rem;
    
}

.context {

    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;



}

.context .image{
    height: 20rem;
    width: 40%;
    margin-left: 10%;
    background: url('img/21.png') center no-repeat;

    background-size: cover;
    border-radius: 10px;


}

.text {

    text-align: justify;
    align-items: center;
    width: 45%;
    margin-right: 10%;
    font-family: 'Baloo Da 2', serif;
    color: rgb(51,51,51);

}

section:nth-of-type(3){
    color:#000;
    opacity: .8;
    background: url('./img/serviços.jpg') no-repeat;
    background-size: cover; 

    background-attachment: fixed;
    overflow:hidden;
    position:relative;
}

.quem-somos-container {

    width: 100%;
    height: 100%;
    background-color: rgb(217,115,29);
    opacity: .8;
    display: flex;
    flex-direction: column;

}

.quem-somos-container .header-quem-somos {
    font-family: 'Baloo Da 2', serif;
    font-weight:200;
    line-height:1.5rem;
    text-transform: uppercase;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    width: 100%;
    height: 20%;
    

}

.quem-somos-container .header-quem-somos h2 {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    line-height:2.4rem;
    font-size: 1.25rem;
    font-family: 'Baloo Da 2', serif;
    font-weight: 700;
}

.quem-somos-container .header-quem-somos h2::after {
    content:"";
    height: .2rem;
    width: 4rem;
    background-color:rgb(51,51,51);
}

.quem-somos-container .cards-quem-somos {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content:space-around;
    align-items:center;


}

.cards-quem-somos .card-quem-somos {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top:2rem;
    line-height:.4rem;

    

}

.card-quem-somos .card-icon {
    height: 20%;
    width: 30%;
    border-radius: 50%;
    justify-content: center;
    display: flex;
    align-items: center;
    background:rgba(255,255,255,0.2);
    border: none;

}


.card-quem-somos .card-text {
    width: 100%;
    height: 70%;
    text-align: center;
    font-family: 'Baloo Da 2', serif;
    color: #fff;
    font-weight:200;
    line-height:1.4rem;
    letter-spacing:.1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-quem-somos .card-text h2{
    height:10%;
    width: 100%;
    font-size: 2.25rem;
    font-family: 'Baloo Da 2', serif;
    font-weight: 700;



}

.card-quem-somos .card-text p {
    margin-top: 5%;
    height:80%;


}

.card-icon img {
    height:2.4rem;

}

.card-icon:hover {

    animation: icones .4s;
}

#multimidia{
    
    opacity: 0;
    animation: movimetoLateral 1s 0.9s forwards;
}

#outros{
    
    opacity: 0;
    animation: movimetoLateral 1s 0.5s forwards;
}

#branding {
    opacity: 0;
    animation: movimetoLateral 1s 1.4s forwards;
}

#design {
    opacity: 0;
    animation: movimetoLateral 1s 1.8s forwards;
}

@keyframes icones {
    0%{
        height: 30%;
        width: 40%;
    }

    100%{

        height: 20%;
        width: 30%;
    }
}

@keyframes movimetoLateral  {
    0%{
        transform: translateX(-20rem) rotate(.3deg);
    }
    100%{
        transform: translateX(10) rotate(-6deg);
        opacity: 1;
    }
}

section:nth-of-type(4) {
    background-color: rgb(255,255,255);
    color: #797979;
}

.portfolio-container {
    height: 100%;
    width: 100%;
    padding-top: 5%;
    display: flex;
    flex-direction: column;
    
}

.portfolio-container h2 {
    text-transform: uppercase;
    font-family: 'Baloo Da 2', serif;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.portfolio-container span{
    display: flex;
}

.portfolio-container h2::after {
    content:"";
    height: .4rem;
    width: 4rem;
    background-color:rgb(217,115,29);
}

section:nth-of-type(4) {
 position: relative;
 width: 100%;
 height: 100%;
}

.contact-container {
    width: 100%;
    height: 100%;
    display:flex;
    justify-content:center;
    align-items:center;
    background-color: #fff;
}

.contact-container form {
    display: flex;
    flex-direction: column;
    width: 100%;
    border:none;
    background-color: #3e3e3e;
    padding: 20px;
}

/* cards */

/* section:nth-of-type(5) {
    position: relative;
    width: 100%;
    height: 100%;
    background: url('./img/serviços.jpg') no-repeat;
    background-attachment: fixed;
    object-fit: cover;
    object-position: right top;
} */

/* formulário contactos */

.contato-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items:center;
    

   background-color: rgb(217,115,29);
    opacity: .5;
}



.contato-container .contact-header{
    text-transform: uppercase;
    font-family: 'Baloo Da 2', serif;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   

}

.contato-container .form{
    height:100%;
    width:100%;
    display: flex;
    justify-content: right;


}

input {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    
}

.contato-container .form .contact-container{
    width: 50%;
    background-color: transparent;


}

.contato-container .form .contact-container form {
    background-color:transparent;
}

input[type=text], input[type=email]{
    width: 100%;
    padding: 12px; 
    border: 5px solid #fff;
    border-radius: 4px; 
    box-sizing: border-box;
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical ;
    border: none;
    background-color:transparent;
    border-bottom: 1px solid #797979;
    color:#fff;
}



/* Style the submit button with a specific background color etc */
button {    
    all: unset;
    margin-top: 2.4em;
    background: transparent;
    border: 2px solid white;
    padding: 1em 4em;
    border-radius: 50px;
    cursor: pointer;
    display: inline-block;
    font-weight: 700;
    position: relative;
    transition: all 300ms ease;
}

button span {
    display: inline-block;
    transition: all 300ms ease;
    
}

button span::before, button span::after {
    content: "";
    display: block;
    position: absolute;
    transition: all 300ms ease;
    opacity: 0;
}

button span::before {
    height: 7px;
    width: 7px;
    background: transparent;
    border-right: 2px solid;
    border-top: 2px solid;
    right: 30px; top: 21px;
    transform: rotate(45deg);
}

button span::after {
    background: white;
    height: 2px;
    width: 50px;
    left: 0;
    top: 1.49em;

}

button span::after:hover{
    transform: translateX(-10px);
}
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #45a049;
  }

  .app-form-control {
    width: 100%;
    padding: 10px 0;
    background: none;
    border: none;
    border-bottom: 1px solid #fff;
    font-size: 14px;
    text-transform: uppercase;
    outline: none;
    transition: border-color .2s;
}



.app-form-control:focus {
    border-bottom-color: #ddd;
}

.app-form-control::placeholder {
    color: rgb(224, 220, 220);
}

.text-transform {
    text-transform: uppercase;
    font-family: 'Baloo Da 2', serif;
    font-weight: 700;
    color: rgb(51,51,51);
    margin-top: -8%;;
}

.fundo {
    background-color: red;
}
  

  